h1{
    color :red;

}

 p span{
color: blue;
}
body{
   
}

.loiich img{
    width: 500px;
    height: 400px;
    padding-left: 500px;
}
.bocuc img{
    width: 500px;
    height: 400;
    padding-left: 500px;
}
.thietke img{
    width: 500px;
    height: 400;
    padding-left: 500px;
}
.gioithieu img{
    width: 500px;
    height: 400;
    padding-left: 500px;
}